page-signup {

    .label{
        background-color: rgba(255,255,255,0.0);


    }


    .devider{

        background-color: rgb(0, 183, 255);
        border-color: rgba(255, 240, 240, 0);
        -webkit-text-fill-color: black;
    }





}