page-prediction {
  .main_div{
    text-align: center;
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
  }
    .aligner{
        display: inline-block;
        left: 10%;
    }
    
    //.ibtn{
    //    left: 35%;
    //}
    
    .cpimg{
        height: 25%;
        width: 100%;
    }
    
    .lbl{
        font: caption;
        text-align: center;
        font-weight: 200;
    }
}
